body {
    font-family: arial;
}

h1 {
    text-align: center;
}

#shape-flex {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-content: auto;
}

#circle1 {
    fill: #FF4A60;
    stroke: black;
    stroke-width: 4;    
}

#circle2 {
    fill: #FFF46E;
}

.active {
    fill: #6EDBFF;
    stroke: black;
    stroke-width: 4;
}

.hidden {
    fill: white;
    stroke: none;
}

.border {
    stroke: black;
    stroke-width: 4;
}

.borderless {
    stroke: none;
}